head nav {
}

body nav {
    padding-bottom: 50px;
    font-size: 30px;
    color: INDIGO;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: slateblue;
    background: rgb(58, 58, 175);
}



body #stats {
    padding-top: 100px;
    color: rgba(221, 160, 221, 0.685);
    display: flex;
}

body #stats .column {
    flex: 33%;
}

body #stats .stats {
    color: rgba(216, 191, 216, 0.397);
}